* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #393939;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #f4f1ed;
    font-family: "Manrope", sans-serif;
    color: var(--black);
    /* add font here */
}

.page-container {
    display: grid;
    grid-template-columns: 330px 1fr; 
}

.sidebar {
    position: sticky; 
    background-color: #e6e4e0;
    height: 100vh;
    padding: 50px 40px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-image {
    background-color: #c6c3bd;
    height: 250px;
    width: 250px;

}

.branding {
    font-size: 1.25rem;
}

.branding p {
    margin: 0;
    line-height: 1.1;
}

.branding span {
    font-size: 0.75rem;
    display: block;
    margin-top: 4px;
    color: #666;
}

ul {
    font-size: 1.25rem;

    list-style: none;
    border-left: 3px solid;
    padding-left: 14px;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    transition: all 0.2s ease-in-out;
}

li :hover,
li :focus {
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: var(--black);
    transition: 0.2s ease;
}

/* Here starts the CSS for the page instead of the sidebar */

.main-content {
  padding: 60px;
  overflow-y: auto;
}