body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* add font here */
}
.page-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
}

.sidebar {
    position: sticky; 
    background-color: #dedede;
    min-height: 100vh;
}

.main-content {
  padding: 60px;
  overflow-y: auto;
}