* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #393939;
    --gray: #D9D9D9;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #f9f9f9;
    font-family: "Manrope", sans-serif;
    color: var(--black);
    /* add font here */
}

.page-container {
    display: grid;
    grid-template-columns: 330px 1fr; 
}

.sidebar {
    position: sticky;
    top: 0; 
    height: 100vh;
    padding: 50px 40px;
    background-color: #e6e6e6;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-image {
    background-color: var(--gray);
    height: 250px;
    width: 250px;
}

.branding {
    font-size: 1.25rem;
}

.branding p {
    margin: 0;
    line-height: 1.1;
}

.branding span {
    font-size: 0.75rem;
    display: block;
    margin-top: 4px;
    color: #696969;
}

.nav-list {
    font-size: 1.25rem;

    list-style: none;
    border-left: 2px solid;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.nav-list a {
    padding-left: 14px;
    border-left: 3px solid transparent;
    transition: 0.2s ease-in-out;

    text-decoration: none;
    color: var(--black);
}

.nav-list a:hover,
.nav-list a:focus {
    border-left: 2px solid;
    font-weight: bold;

    color: var(--black);
}

.social-links {
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 8px;
}

.social-links a {
    display: flex; 
    text-decoration: none;      
    color: var(--black);
}

.social-links a:hover {
    color: black;
}

/* Here starts the CSS for the page instead of the sidebar */

.main-content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 4.6875rem;

    overflow-y: auto;
}

@media (min-width: 1200px) {
    .main-content p {
        max-width: 700px;
    }
}

.main-content p {
    margin-top: 1rem;
    line-height: 1.75;
}

#about a {
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

.project-main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-container {
    max-width: 1000px;
    display: flex;
    gap: 58px;
}

.project-image-container {
    height: 185px;
    width: 300px;
    position: relative;
    background-color: var(--gray);
    box-shadow: 15px 15px 0px 0px var(--black);

    transition: 0.2s ease;
}

/* .project-image-container:hover {
    transform: translate( 16px, 16px);
    box-shadow: 0px 0px 0px 0px;
} */

.project-image {
    height: 100%;
    width: 100%;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-description-container p {
    margin: 0;
    font-size: 0.875rem;
}

.project-icons {
    display: flex;
    gap: 17px;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: flex-start;

}

.icons svg {
    stroke: var(--black);
}

.icons svg:hover {
    stroke: black;
}

.language-badges {
    display: flex;
    flex-wrap: wrap;
}