::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--gray);
    border: 0.25em solid white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-width: thin;
    }
}